<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <%= content_tag(:li, (link_to 'My daily tasks', :daily_tasks), class: nav_sidebar_item_class(:daily_tasks, params[:controller])) %>
  </ul>
</div>